<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBoxGrid</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <main>
      <div class="box1">
        <img class="header" src="../static/ChatBoxHeader.svg">
      </div>
      <div class="box2">
        <div class="iner-box2">
          <img src="../static/ChatBox.svg"> 
          <p class="texto">Si te sientes deprimido esta cuarentena no dudes en chatear con nosotros</p>
          <button type="button" class="botonComenzar" id="botonComenzar">
            <a id="irChat" class="irChat" href="/chat">Comenzar</a>
        </button>
        </div>
      </div>
      <div class="box3">
        <img src="../static/rocket.svg">
      </div>
  </main>  
</body>
</html>