<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            margin: 0;
        }

        canvas {
            display: block;
        }
    </style>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    
    <div class="contenedor-header">
        <h2 id="header" class="header">ChatBox</h2>
    </div>
   
    <div class="main-div">
        <h1 id="chatBox" class="chat-box">ChatBox</h1>
        <p id="texto" class="texto">Si te sientes deprimido esta cuarentena no dudes en chatear con nosotros</p>
        <input type="button" class="comenzar" id="comenzar" value="Comenzar"></input>
        <img class="cohete" id="cohete" src="/static/rocket.svg"/>
    </div>
    
</body>
</html>